.git
.gitignore
.github

node_modules
.svelte-kit
build
test-results
playwright-report
blob-report

planning
e2e
tests
*.md

.vscode
.npmrc
.env
.env.*
!.env.example

Dockerfile
docker-compose.yml
.dockerignore

mise.toml
