.git
.gitignore
.github

**/node_modules
.pnpm-store
**/.svelte-kit
**/build
**/dist
test-results
playwright-report
blob-report

planning
e2e
tests
*.md

.vscode
.npmrc
!.npmrc
.env
.env.*
!.env.example

Dockerfile
Dockerfile.dev
docker-compose.yml
.dockerignore

mise.toml
